<form method="post" action="/employee">
  <fieldset>
    <legend>Add Employee</legend>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Enter Your Name</label>
      <input type="text" class="form-control" name="fullName" placeholder="Enter Your Name">
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Enter Your Email Address</label>
      <input type="Email" class="form-control"  placeholder="Enter Your Email Address" name="email">
    </div>

    <div class="form-group">
      <label class="form-label mt-4">Enter Your Phone Number</label>
      <input type="text" class="form-control"  placeholder="Enter Your Phone Number" name="phone">
    </div>
    <div class="form-group">
      <label class="form-label mt-4">Enter Your City</label>
      <input type="text" class="form-control"  placeholder="Enter Your City " name="city">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>